<!DOCTYPE html>

<p>
    Homepage. All interaction is via your Terminal :).
</p>

<p>
    1. Type 'register' to register a new user <br>

    2. Type 'login http://sc19msmm.pythonanywhere.com' to log into your account<br>

    3. Type 'logout' to log out of your session<br>

    4. Type 'list' to get a list of all modules and their corresponding professors<br>

    5. Type 'view' to view ratings for all the professors<br>

    6. Type 'average &#60;professor_id&#62; &#60;module_code&#62; with the required arguments to get the average rating
    of a professor in a given module<br>

    7. Type 'rate &#60;professor_id&#62; &#60;module_code&#62; &#60;year&#62; &#60;semester&#62; &#60;rating&#62;' with
    the required arguments to rate a professor in a given module<br>
</p>